<h1>Create a Survey</h1>
  <form action="/surveys/new" method="POST">
  <input type="text" name="survey[title]" placeholder="Title" autofocus>

  <%= erb :'partials/_new_question' %>
  
  <a href="/surveys/new" id="add-question">Add Question</a>
  <input type="submit" value="Create Survey">
  </form>

  

