<h3><%= @survey.title %></h3>

<ol>
  <% @survey.questions.each do |question| %>
    <li><%= question.text %></li> 
    <ul>
      <% question.choices.each do |choice| %>
            <li><%= choice.text %>: <%= choice.answers.length %></li>
      <% end %>
    </ul>
  <% end %>
</ol>