<script src="/js/charts.js"></script>
<h3><%= @survey.title %></h3>

<ol>
  <% @survey.questions.each do |question| %>
    <span id="question-id" type='hidden'><%= question.id %></span>
    <li><%= question.text %></li> 
    <svg class="chart"></svg>
    
    <% end %>
</ol>