<script src="/js/charts.js"></script>
<h3><%= @survey.title %></h3>

<ol>
  <% @survey.questions.each do |question| %>
    <li><%= question.text %></li> 
    <svg class="chart"></svg>
    <a href="/surveys/<%= @survey.id %>/results.tsv">Download results</a>
    <% end %>
</ol>