<div class="container">
  <form action="/users/new" method="POST">
    <h2>Register!</h2>
    name: <input name="name">
    password: <input type="password" name="password">
    confirm password: <input type="password" name="password_confirmation">
    <input type="submit">
  </form>
</div>